.summary-card--heading-title {
}

.summary-card--heading {
  font-weight: bold;
}

.summary-card--subtitle {
  text-transform: uppercase;
}

.summary-card {
  margin: 0;
  font-weight: bold;
  height: 100%;
}
