.table-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 5px;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.table-button {
  transform: translateY(15%);
}

/* 
.table-row:nth-of-type(odd) {
  background-color: var(--ion-color-light-shade);
}

.table-row:hover {
  background-color: var(--ion-color-light-tint);
} */

.table-title {
  background-color: var(--ion-color-primary);
}

.table-row {
  border-bottom: 1px solid var(--ion-color-light-tint);
}

.table-col {
  border-bottom: 0px;
}
